.App {
	background-color: #282c34;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-size: calc(10px + 2vmin);
	color: white;
	border: solid 2px pink;
}

.App-link {
	color: #61dafb;
}
